%p#notice= notice

%p
  %b Tea:
  = link_to @tea_picture.tea.name, @tea_picture.tea if @tea_picture.tea
  .tea_picture
    = image_tag @tea_picture.picture.url

= link_to 'Edit', edit_tea_picture_path(@tea_picture)
\|
= link_to 'Back', tea_pictures_path
