%p#notice= notice

%p
  %b User:
  = @tea_list_assignment.user_id
%p
  %b Tea:
  = @tea_list_assignment.tea_id
%p
  %b List name:
  = @tea_list_assignment.list_name

= link_to 'Edit', edit_tea_list_assignment_path(@tea_list_assignment)
\|
= link_to 'Back', tea_list_assignments_path
