= simple_form_for @tea do |f|
  - if @tea.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tea.errors.count, "error")} prohibited this tea from being saved:"
      %ul
        - @tea.errors.full_messages.each do |msg|
          %li= msg
  .fields
    = f.input :name
    = f.input :factory
    = f.input :collection_date, :start_year => 1900
    = f.input :category do
      = select_tag("tea[category]", opt_hash(SETTINGS[:tea][:categories], @tea.category))

  .actions
    = f.submit 'Save'
