%h1 Listing teas

%table
  %tr
    %th Name
    %th Picture
    %th Factory
    %th Category
    %th
    %th
    %th

  - @teas.each do |tea|
    %tr
      %td= tea.name
      %td= image_tag(tea.tea_pictures.first.picture.url(:small))
      %td= tea.factory
      %td= tea.category
      %td= link_to 'Show', tea
      %td= link_to 'Edit', edit_tea_path(tea)
      %td= link_to 'Destroy', tea, :method => :delete, :data => { :confirm => 'Are you sure?' }

%div
  = link_to 'New Tea', new_tea_path
