%p#notice= notice

.span-8
  %div
    %div= t :tea_name_is, :name => @tea.name
    %div= t :tea_category_is, :category => @tea.category
    %div= t :tea_collection_date_is, :date => @tea.collection_date if @tea.collection_date

.span-8.last
  %div
    %div= t :tea_added_by, :user => @tea.user.email
    %div= t :tea_factory_is, :factory => @tea.factory if @tea.factory

- if user_signed_in?
  = render :partial => "user_block", :locals => {:tea => @tea}

.show-tea-block
  %div= render :partial => "tea_pictures", :locals => {:tea => @tea}

.show-tea-block
  %div
    - @tea.tea_links.each do |link|
      = link_to link.link, link.link

.show-tea-block
  %div= link_to "Attach picture", new_tea_picture_path("tea[id]" => @tea.id)

  %div= link_to "Attach link", new_tea_link_path("tea[id]" => @tea.id)

- if user_signed_in?
  .show-tea-block
    %div= render :partial => "comment_form"

.show-tea-block
  %div= render :partial => "comments_list", :locals => {:tea => @tea}
