%p#notice= notice

%p Added by: #{@tea.user.email}

- if user_signed_in?
  %p
    - SETTINGS[:user][:lists].each do |list_name|
      - assignment = current_user.named_tea_assignment(list_name, @tea)
      - if assignment
        = link_to "remove from #{list_name}", assignment, :method => :delete
      - else
        = link_to "add to list #{list_name}", tea_list_assignments_path("tea_list_assignment[list_name]" => list_name, "tea_list_assignment[tea_id]" => @tea.id), :method => :post
  %p= link_to "Compare with", select_second_tea_path(@tea)

%p
  %b Name:
  = @tea.name
%p
  %b Factory:
  = @tea.factory
%p
  %b Category:
  = @tea.category

.tea_pictures
  - @tea.tea_pictures.each do |pic|
    .tea_picture
      = link_to pic do
        = image_tag pic.picture.url(:medium)

.tea_links
  - @tea.tea_links.each do |link|
    = link_to link.link, link.link

= link_to "Attach picture", new_tea_picture_path("tea[id]" => @tea.id)


= link_to 'Edit', edit_tea_path(@tea)
\|
= link_to 'Back', teas_path
