= simple_form_for(@tea_link) do |f|
  = f.error_notification

  .form-inputs
    - if @tea
      = f.input :tea_id, :as => :hidden, :input_html => {:value => @tea.id}
    - else
      = f.association :tea
    = f.input :link

  .form-actions
    = f.button :submit
